#add-keyword-btn{
    margin-left: 10px;
    display: inline-block;
}

#input-field{
    width: 40%;
    margin-right: 0px;
    display:inline-block;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}