#greeting-lg{
    margin-top: 10%;
    font-size: 70px;
}

#search-job-button{
    display: inline-block;
}

#test{
    border: 1px solid #73AD21;
    border-radius: 25px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

#keyword{
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px;
   margin-bottom: 0px;
}

#message{
    margin-bottom: 3%;
    font-size: 20px;
}

.container{
    margin-bottom: 5%;
}

#copyright-blk{
    color:black;
    margin-top: 2.5%;
    margin-bottom: 80px;
    font-size: 15px;
}

.copyright{
    text-align: center;
    width: 100%;
    left: 0px;
    right: 0px;
}
