#welcome-message{
    padding-top: 15%;
    text-align: left;
    padding-left: 10%;
}

#home-page{
    width: 100%;
    position: fixed;
    background-color: white;
    background-size: cover;
}

#header{
    font-size: 100px;
}

#message{
    font-size: 30px;
}

#get-started{
    margin-top: 10px;
}