#login-title{
    font-size: 50px;
}

.login-container{
    margin-top: 8%;
    width: 30%;
    margin-bottom: 8%;
}

.copyright{
    text-align: center;
    width: 100%;
    left: 0px;
    right: 0px;
}

#password-warning{
    margin-top: 20px;
    margin-bottom: 20px;
}

#login-btn{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

#nav-btn{
    margin-right: 2%;
    display: inline-block;
    margin-top: 20px;
}
