#footer{
  text-align: center;
  position: fixed;
  height: 10%;
  margin-top: 40em;
  background-color: black;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  
}

#copyright{
    color:white;
    margin-top: 2.5%;
    margin-bottom: auto;
    font-size: 15px;
}