.job-board{
    margin-bottom: 20px;
}

.job-board-title{
    margin-bottom: 20px;
}

.show-all-btn{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#show-all{
    text-align: center;
}