#welcome-message{
    margin-top: 20%;
    height: 100%;
}

#home-page{
    height: 100vh;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: black;
    background-image: url('../images/background-image.jpg');
    background-size: cover;
}